{% extends "layout.html" %}
{% from 'macros.html' import icon, navigate, size, fetch_icon, download with context %}
{% block title%}Directory Listing: {{ cwd }}{% endblock %}
{% block content %}
<ol class="breadcrumb">
    {% for path in crumbs %}
    <li class="breadcrumb-item {% if loop.last %}active{% endif %}"><a href="{{ navigate(path) }}">{% if path.name %}{{ path.name }}{% else %}{{ icon("home") }}{% endif %}</a></li>
    {% endfor %}
</ol>
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-sm-9">Name</th>
            <th class="col-sm-1">Size</th>
            <th class="col-sm-1">Modified</th>
            <th class="col-sm-1">Download</th>
        </tr>
    </thead>
    <tbody>
        {% for path in paths %}
        <tr>
            <td><a href="{{ navigate(path) }}">{{ icon(path.mimeclass) }} {{ path.name }}</a></td>
            <td>{{ size(path) }}</td>
            <td>{{ path.modified|humanize_naturaldate() }}</td>
            <td><a href="{{ download(path) }}">{{ fetch_icon(path) }}</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4"><em>Directory Empty.</em></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endblock %}
