{%- macro icon(name) -%}
{% set _map = {
    "home": "we-home",
    "directory": "we-folder-open",
    "zip": "we-folder-download",
    "download": "we-download",
    "text": "we-file-text2",
    "image": "we-file-picture",
    "audio": "we-file-music",
    "video": "we-file-video",
    "application": "we-file-empty",
    "info": "we-info",
} %}<span class="{{ _map.get(name, "we-file-empty") }}"></span>{%- endmacro -%}

{%- macro navigate(path) -%}{% set view = 'listing' if path.is_dir else 'download' %}{{ url(view, path=path.url) }}{%- endmacro -%}
{%- macro download(path) -%}{% set view = 'download-zip' if path.is_dir else 'download' %}{{ url(view, path=path.url) }}{%- endmacro -%}

{% macro size(path) %}{% if path.is_dir %}--{% else %}{{ path.size|humanize_naturalsize() }}{% endif %}{% endmacro %}
{% macro download_icon(path) %}{% if path.is_dir %}{{ icon("zip") }}{% else %}{{ icon("download") }}{% endif %}{% endmacro %}